<!-- <section class="sect pt-4">
    <div class="container">
        <div class="row my-auto">
            <div class="col-md-4">
                <a href="" class="head">
                    Steps
                </a>
                <div>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur aLaudantium vitae rerum esse accusamus!
                        Ats sit totam ut voluptatem eum.</p>
                </div>
            </div>
            <div class="col-md-4  text-white">
                <div> <h5 class="text-center">
                    Courses
                </h5></div>
                <div> <ul class="text-start">
                    <li><a class="ac" href="">English</a> </li>
                    <li><a class="ac" href="">Hindi</a> </li>
                    <li><a class="ac" href="">Malayalam</a> </li>
                    <li><a class="ac" href="">English</a> </li>
                </ul></div>
               
               
            </div>
            <div class="col-md-4 text-white">
                <div> <h5 class="text-center">
                    About Us
                </h5></div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur libero voluptates reiciendis illo vero incidunt laudantium similique non numquam tempora!
                    </p>
                </div>
            </div>
        </div>

    </div>
</section> -->