<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 my-auto">
            <div class="mx-auto" >
               <h1 class="h1t ">Learn a language,
                  <span class="text-dark">Your</span> way
               </h1>
               <i class="fa-light fa-badge-check"></i> <p class="vvb"><i class="fa-solid fa-check"></i> Learn languages with experienced guidance</p>
               <p class="vvb"><i class="fa-solid fa-check"></i> Learn through each step</p>
               <p class="vvb"><i class="fa-solid fa-check"></i> 24*7 Guidance available</p>


               <div class="row ">
                   <div class="col-8">
                    <select class="form-select form-select-lg mb-3" aria-label="Default select example">
                        <option selected>French</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>

                   </div>
                   <div class="col-3">
                       <button class="btn  btng">
                           lets go
                       </button>
                   </div>
              
            </div>
            </div>
        </div>
        <div class="col-lg-6  text-center">
            <img class="rounded-img  img-fluid rounded-5 my-2  vvc" src="../../assets/jeshoots-com--2vD8lIhdnw-unsplash.jpg" alt="">
        </div>
    </div>
</div>

<div class="container pt-3">
    <div class="text-center">
        <p class="fr1">Discover mind-blowing <span class="text-dark">language </span> learning tips...</p>
    </div>
</div>



 <!-- <div class="container  pt-1">
    <div class="row d-flex justify-content-between   text-center ">
            <div class="card car1   " style="width: 10rem;" >
                <div class="card-body ">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
        </div>

            <div class="card mt-3 mt-md-0 car1 col-md-4" style="width: 10rem;" >
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card mt-3 mt-md-0 car1 col-md-4" style="width: 10rem;" >
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
    </div>

</div>  -->


<div class="container">
    <div class="row align-items-center text-center">
        <div class="col-md-4 mx-auto">
            <div class="card  car1 mt-2 mt-md-0">
                <h3 class="pt-3"><i class="fa-solid fa-laptop ccc"></i></h3>
                <h5 class="card-title ctc pt-2">Learn <span class="cfc">online</span></h5>
                <div class="card-body d-flex flex-column align-items-center">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card car1 mt-2 mt-md-0">
                <h3 class="pt-3"><i class="fa-solid fa-thumbs-up ccc"></i></h3>

                <h5 class="card-title ctc">24*7 <span class="cfc">support</span></h5>
                <div class="card-body d-flex flex-column align-items-center">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto">
            <div class="card car1 mt-2 mt-md-0">
                <h3 class="pt-3"><i class="fa-solid fa-handshake ccc"></i></h3>
                <h5 class="card-title ctc">Expert <span class="cfc">giudance</span></h5>
                <div class="card-body d-flex flex-column align-items-center">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pt-5">
    <div class="text-center spp">
        <p>Why <span class="sp">steps</span>?</p>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <p class="sm">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
             possimus id distinctio placeat ullam in neque voluptatem fugit itaque laudantium,
              nam blanditiis architecto magni laboriosam ex rem! Doloremque, similique at?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem omnis aperiam nostrum 
            quidem praesentium. Reprehenderit sed optio porro dolores iste molestias maxime,
             repellendus et fugit culpa iusto reiciendis corporis architecto. Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Mollitia quidem minima accusamus, doloremque
               error magni est, perferendis quasi aperiam consequuntur laboriosam
              amet libero nam iusto a vel quis ullam ipsam!
        </p>
    </div>
</div>